<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    {% if not is_resolved %}
        {% if not is_customer %}
            <div id="canned-messages-container">
            </div>
        {% endif %}
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        {% if is_customer %}
            <input id="chat-message-resolve" data-url="{% url 'chat:resolve' %}" type="button" value="Resolve">
        {% endif %}
    {% endif %}
    {{ conversation_id|json_script:"conversation-id" }}
    {{ is_customer|json_script:"is-customer" }}
    <script>
        const conversationId = JSON.parse(document.getElementById('conversation-id').textContent);
        const isCustomer = JSON.parse(document.getElementById('is-customer').textContent) || sessionStorage.getItem('is_customer');

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + conversationId
            + '/'
        );

        chatSocket.onopen = function(e) {
            console.log('Chat socket opened');
            fetchInitialMessages();
        };

        // Function to fetch initial messages
        function fetchInitialMessages() {
            const url = '{% url "chat:get-all-messages" %}'; // Replace with the actual URL
            const headers = new Headers();
            headers.append('Content-Type', 'application/json');
            headers.append('X-CSRFToken', '{{ csrf_token }}');

            const body = JSON.stringify({
                conversation_id: conversationId
            });

            fetch(url, {
                method: 'POST',
                headers: headers,
                body: body
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(messages => {
                const chatLog = document.querySelector('#chat-log');
                messages = messages.messages;
                for(let i=0; i < messages.length; i++){
                    chatLog.value += `${messages[i].sender__name}: ${messages[i].text}\n\n`;
                }
            })
            .catch(error => {
                console.error('Failed to fetch initial messages', error);
            });
        }
    
        chatSocket.onmessage = function(e) {
            const messages = JSON.parse(e.data);
            if (messages.action === "canned_messages") {
                displayCannedMessages(messages.messages);
            }
            if (messages.action == "chat_resolved") {
                // redirect to http://localhost:8000/support/agent/{email_id}/
                var emailId = sessionStorage.getItem("email");
                var fullUrl = "http://localhost:8000/support/agent/" + encodeURIComponent(emailId) + "/";
                window.location.href = fullUrl;
            }
            else{
                const chatLog = document.querySelector('#chat-log');
                messages.forEach(message => {
                    chatLog.value += `${message.sender__name}: ${message.text}\n\n`;
                });
            }
        };

        function displayCannedMessages(messages) {
            const container = document.getElementById('canned-messages-container');
            container.innerHTML = '';

            messages.forEach(msg => {
                const button = document.createElement('button');
                button.className = 'canned-message-btn';
                button.textContent = msg;
                button.onclick = () => sendWebSocketMessage(msg);
                container.appendChild(button);
            });
        }

        function sendWebSocketMessage(message) {
            chatSocket.send(JSON.stringify({
                'text': message,
                "action": "chat_message",
                "sender__name": sessionStorage.getItem('name'),
                "sender__email": sessionStorage.getItem('email'),
                "conversation_id": conversationId,
                "is_customer": isCustomer
        }));
}
    
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
    
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'text': message,
                "action": "chat_message",
                "sender__name": sessionStorage.getItem('name'),
                "sender__email": sessionStorage.getItem('email'),
                "conversation_id": conversationId,
                "is_customer": isCustomer
            }));
            messageInputDom.value = '';
        };
        
        document.querySelector('#chat-message-resolve').onclick = function(e){
            var emailId = sessionStorage.getItem("email");
            var baseUrl = document.getElementById('chat-message-resolve').getAttribute('data-url');
            var fullUrl = baseUrl + '?email_id=' + encodeURIComponent(emailId) + '&conversation_id=' + encodeURIComponent(conversationId);
        
            window.location.href = fullUrl;
        }

        document.querySelector('#chat-message-resolve').onclick = function(e) {
            // Prepare the message to indicate chat resolution
            const resolveMessage = {
                action: "chat_resolved",
                conversation_id: conversationId,
                sender__name: sessionStorage.getItem('name'),
                sender__email: sessionStorage.getItem('email')
            };

            chatSocket.send(JSON.stringify(resolveMessage));
        };
        
    </script>    
</body>
</html>